USE [master]
GO
/****** Object:  Database [Car_Rental]    Script Date: 5/30/2026 4:41:28 PM ******/
CREATE DATABASE [Car_Rental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Car_Rental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Car_Rental.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Car_Rental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Car_Rental_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Car_Rental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Car_Rental]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
	[Mileage] [int] NOT NULL,
	[PlateNumber] [nvarchar](20) NULL,
	[CategoryID] [int] NOT NULL,
	[RentalPricePerDay] [decimal](10, 2) NOT NULL,
	[IsAvailableForRent] [bit] NOT NULL,
	[MakeID] [int] NOT NULL,
	[ModelID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
	[FuelTypeID] [int] NOT NULL,
 CONSTRAINT [PK__Vehicle__476B54B2458660BD] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nchar](50) NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalBooking]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalBooking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[VehicleID] [int] NULL,
	[RentalStartDate] [date] NULL,
	[RentalEndDate] [date] NULL,
	[PickupLocation] [nvarchar](100) NULL,
	[DropoffLocation] [nvarchar](100) NULL,
	[InitialRentalDays] [tinyint] NULL,
	[RentalPricePerDay] [smallmoney] NULL,
	[InitialTotalDueAmount] [smallmoney] NULL,
	[InitialCheckNotes] [nvarchar](500) NULL,
	[StartMileage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleReturns]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleReturns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[ActualReturnDate] [datetime] NULL,
	[ActualRentalDays] [tinyint] NULL,
	[Mileage] [int] NULL,
	[ConsumedMileage] [int] NULL,
	[FinalCheckNotes] [nvarchar](500) NULL,
	[AdditionalCharges] [smallmoney] NULL,
	[ActualTotalDueAmount] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactInformation] [nvarchar](100) NULL,
	[DriverLicenseNumber] [nvarchar](20) NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makes]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makes](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[Makename] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Makes] PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveBookings]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ActiveBookings] AS
SELECT 
    b.BookingID,
    b.CustomerID,
    b.VehicleID,
    b.RentalStartDate,
    b.RentalEndDate,
    b.PickupLocation,
    b.DropoffLocation,
    b.InitialRentalDays,
    b.RentalPricePerDay,
    b.InitialTotalDueAmount,
    b.InitialCheckNotes,
    c.Name            AS CustomerName,
    v.PlateNumber,
    m.MakeName,
    mo.ModelName,
    v.Year,
    ('Booking #' + CAST(b.BookingID AS NVARCHAR) + ' - '
     + c.Name + ' - '
     + m.MakeName + ' ' + mo.ModelName + ' '
     + CAST(v.Year AS NVARCHAR)
     + ' (' + v.PlateNumber + ')') AS BookingInfo
FROM RentalBooking b
JOIN Customer  c  ON b.CustomerID = c.CustomerID
JOIN Vehicles  v  ON b.VehicleID  = v.VehicleID
JOIN Makes     m  ON v.MakeID     = m.MakeID
JOIN Models    mo ON v.ModelID    = mo.ModelID
WHERE NOT EXISTS (
    SELECT 1 FROM VehicleReturns vr
    WHERE vr.BookingID = b.BookingID
);
GO
/****** Object:  Table [dbo].[Car_Details]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Details](
	[ymm_id] [nvarchar](100) NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[FuelTypeID] [int] NULL,
	[CategoryID] [int] NULL,
	[ModelName] [nvarchar](50) NULL,
	[Year] [smallint] NULL,
	[Trim] [nvarchar](100) NULL,
	[Submodel] [nvarchar](50) NULL,
	[Body] [nvarchar](50) NULL,
	[Cylinder_Type_Name] [nvarchar](50) NULL,
	[Vehicle_Display_Name] [nvarchar](100) NULL,
	[Drive_Type] [nvarchar](50) NULL,
	[Engine] [nvarchar](100) NULL,
	[Engine_Block_Type] [nvarchar](50) NULL,
	[Engine_CC] [smallint] NULL,
	[Engine_CID] [smallint] NULL,
	[Engine_Cylinders] [tinyint] NULL,
	[Engine_Liter_Display] [money] NULL,
	[Aspiration] [nvarchar](50) NULL,
	[KBB_MODEL] [nvarchar](50) NULL,
	[NumDoors] [tinyint] NULL,
	[Parts_Model] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[FuelTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FuelTypeName] [nchar](50) NULL,
 CONSTRAINT [PK_FuelTypes] PRIMARY KEY CLUSTERED 
(
	[FuelTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransaction]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ReturnID] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaidAmount] [decimal](10, 2) NOT NULL,
	[ActualAmount] [decimal](10, 2) NOT NULL,
	[RemainingAmount]  AS (case when [ActualAmount]>[PaidAmount] then [ActualAmount]-[PaidAmount] else (0) end),
	[RefundAmount]  AS (case when [PaidAmount]>[ActualAmount] then [PaidAmount]-[ActualAmount] else (0) end),
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCategories]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__VehicleC__19093A2BD43D6CCA] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleMaintenance]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMaintenance](
	[MaintenanceID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[Cost] [decimal](10, 2) NULL,
	[MaintenanceDate] [datetime] NULL,
	[IsCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaintenanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleMaintenanceHistory]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleMaintenanceHistory](
	[MaintenanceID] [int] NULL,
	[VehicleID] [int] NULL,
	[Description] [nvarchar](300) NULL,
	[Cost] [decimal](10, 2) NULL,
	[MaintenanceDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 5/30/2026 4:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[YearValue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicle_Category]    Script Date: 5/30/2026 4:41:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_Category] ON [dbo].[Vehicles]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicle_Plate]    Script Date: 5/30/2026 4:41:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_Plate] ON [dbo].[Vehicles]
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RentalTransaction] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[VehicleMaintenance] ADD  DEFAULT (getdate()) FOR [MaintenanceDate]
GO
ALTER TABLE [dbo].[VehicleMaintenance] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[VehicleMaintenanceHistory] ADD  DEFAULT (getdate()) FOR [CompletedDate]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF__Vehicle__Mileage__3D5E1FD2]  DEFAULT ((0)) FOR [Mileage]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF__Vehicle__RentalP__3E52440B]  DEFAULT ((0.00)) FOR [RentalPricePerDay]
GO
ALTER TABLE [dbo].[Vehicles] ADD  CONSTRAINT [DF__Vehicle__IsAvail__3F466844]  DEFAULT ((1)) FOR [IsAvailableForRent]
GO
ALTER TABLE [dbo].[RentalBooking]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[RentalBooking]  WITH CHECK ADD  CONSTRAINT [FK__RentalBoo__Vehic__2DE6D218] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[RentalBooking] CHECK CONSTRAINT [FK__RentalBoo__Vehic__2DE6D218]
GO
ALTER TABLE [dbo].[RentalTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[RentalBooking] ([BookingID])
GO
ALTER TABLE [dbo].[RentalTransaction] CHECK CONSTRAINT [FK_Transaction_Booking]
GO
ALTER TABLE [dbo].[RentalTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Return] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[VehicleReturns] ([ReturnID])
GO
ALTER TABLE [dbo].[RentalTransaction] CHECK CONSTRAINT [FK_Transaction_Return]
GO
ALTER TABLE [dbo].[VehicleMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[VehicleMaintenance] CHECK CONSTRAINT [FK_Maintenance_Vehicle]
GO
ALTER TABLE [dbo].[VehicleReturns]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[RentalBooking] ([BookingID])
GO
USE [master]
GO
